In [1]:
import sys, os

import pandas as pd
import geopandas as gpd

In [2]:
global_bounds = "/home/public/Data/GLOBAL/ADMIN/Admin0_Polys.shp"
global_lines  = "/home/public/Data/GLOBAL/ADMIN/Admin0_Polylines_CntryandDisp.shp"

inB = gpd.read_file(global_bounds)
inL = gpd.read_file(global_lines)

In [3]:
bad_shapes = inL['geometry'].apply(lambda x: x is None)
inL = inL.loc[~bad_shapes]
#all_borders = inL.unary_union

In [4]:
trade_file = "/home/wb411133/temp/tradecostsforactualborders.csv"
trade_data = pd.read_csv(trade_file)
trade_data.head()

  reporter partner  neighbors  trade_cost
0      AFG     CHN       True  293.428099
1      AFG     IRN       True  121.637338
2      AFG     PAK       True   94.850399
3      AFG     TJK       True  171.974544
4      AFG     UZB       True  260.956700

In [ ]:
inB['geometry'] = inB['geometry'].apply(lambda x: x.buffer(100))

In [6]:
trade_data.head()

  reporter partner  neighbors  trade_cost
0      AFG     CHN       True  293.428099
1      AFG     IRN       True  121.637338
2      AFG     PAK       True   94.850399
3      AFG     TJK       True  171.974544
4      AFG     UZB       True  260.956700

In [7]:
res = []
for idx, row in trade_data.iterrows():
    print(f"{idx} of {trade_data.shape[0]}")
    #Select country bounds
    cur_country = inB.loc[inB['ISO3'] == row['reporter']]
    country_shape = cur_country.unary_union.buffer(100)
    #select partner bounds
    partner_country = inB.loc[inB['ISO3'] == row['partner']]
    partner_shape = partner_country.unary_union.buffer(100)
    # Only continue if the reporter and partner are the same
    if (country_shape.intersects(partner_shape)):
        #Dissolve national bounds intersecting from country 
        national_lines = inL.loc[inL['geometry'].apply(lambda x: x.intersects(country_shape))]
        national_lines = national_lines.unary_union.intersection(country_shape)
        national_lines = national_lines.intersection(partner_shape)
        res.append([row['reporter'], row['partner'], row['trade_cost'], national_lines])

0 of 446
1 of 446
2 of 446
3 of 446
4 of 446
5 of 446
6 of 446
7 of 446
8 of 446
9 of 446
10 of 446
11 of 446
12 of 446
13 of 446
14 of 446
15 of 446
16 of 446
17 of 446
18 of 446
19 of 446
20 of 446
21 of 446
22 of 446
23 of 446
24 of 446
25 of 446
26 of 446
27 of 446
28 of 446
29 of 446
30 of 446
31 of 446
32 of 446
33 of 446
34 of 446
35 of 446
36 of 446
37 of 446
38 of 446
39 of 446
40 of 446
41 of 446
42 of 446
43 of 446
44 of 446
45 of 446
46 of 446
47 of 446
48 of 446
49 of 446
50 of 446
51 of 446
52 of 446
53 of 446
54 of 446
55 of 446
56 of 446
57 of 446
58 of 446
59 of 446
60 of 446
61 of 446
62 of 446
63 of 446
64 of 446
65 of 446
66 of 446
67 of 446
68 of 446
69 of 446
70 of 446
71 of 446
72 of 446
73 of 446
74 of 446
75 of 446
76 of 446
77 of 446
78 of 446
79 of 446
80 of 446
81 of 446
82 of 446
83 of 446
84 of 446
85 of 446
86 of 446
87 of 446
88 of 446
89 of 446
90 of 446
91 of 446
92 of 446
93 of 446
94 of 446
95 of 446
96 of 446
97 of 446
98 of 446
99 of 446
100 of 446
101 of 446
102 of 446
103 of 446
104 of 446
105 of 446
106 of 446
107 of 446
108 of 446
109 of 446
110 of 446
111 of 446
112 of 446
113 of 446
114 of 446
115 of 446
116 of 446
117 of 446
118 of 446
119 of 446
120 of 446
121 of 446
122 of 446
123 of 446
124 of 446
125 of 446
126 of 446
127 of 446
128 of 446
129 of 446
130 of 446
131 of 446
132 of 446
133 of 446
134 of 446
135 of 446
136 of 446
137 of 446
138 of 446
139 of 446
140 of 446
141 of 446
142 of 446
143 of 446
144 of 446
145 of 446
146 of 446
147 of 446
148 of 446
149 of 446
150 of 446
151 of 446
152 of 446
153 of 446
154 of 446
155 of 446
156 of 446
157 of 446
158 of 446
159 of 446
160 of 446
161 of 446
162 of 446
163 of 446
164 of 446
165 of 446
166 of 446
167 of 446
168 of 446
169 of 446
170 of 446
171 of 446
172 of 446
173 of 446
174 of 446
175 of 446
176 of 446
177 of 446
178 of 446
179 of 446
180 of 446
181 of 446
182 of 446
183 of 446
184 of 446
185 of 446
186 of 446
187 of 446
188 of 446
189 of 446
190 of 446
191 of 446
192 of 446
193 of 446
194 of 446
195 of 446
196 of 446
197 of 446
198 of 446
199 of 446
200 of 446
201 of 446
202 of 446
203 of 446
204 of 446
205 of 446
206 of 446
207 of 446
208 of 446
209 of 446
210 of 446
211 of 446
212 of 446
213 of 446
214 of 446
215 of 446
216 of 446
217 of 446
218 of 446
219 of 446
220 of 446
221 of 446
222 of 446
223 of 446
224 of 446
225 of 446
226 of 446
227 of 446
228 of 446
229 of 446
230 of 446
231 of 446
232 of 446
233 of 446
234 of 446
235 of 446
236 of 446
237 of 446
238 of 446
239 of 446
240 of 446
241 of 446
242 of 446
243 of 446
244 of 446
245 of 446
246 of 446
247 of 446
248 of 446
249 of 446
250 of 446
251 of 446
252 of 446
253 of 446
254 of 446
255 of 446
256 of 446
257 of 446
258 of 446
259 of 446
260 of 446
261 of 446
262 of 446
263 of 446
264 of 446
265 of 446
266 of 446
267 of 446
268 of 446
269 of 446
270 of 446
271 of 446
272 of 446
273 of 446
274 of 446
275 of 446
276 of 446
277 of 446
278 of 446
279 of 446
280 of 446
281 of 446
282 of 446
283 of 446
284 of 446
285 of 446
286 of 446
287 of 446
288 of 446
289 of 446
290 of 446
291 of 446
292 of 446
293 of 446
294 of 446
295 of 446
296 of 446
297 of 446
298 of 446
299 of 446
300 of 446
301 of 446
302 of 446
303 of 446
304 of 446
305 of 446
306 of 446
307 of 446
308 of 446
309 of 446
310 of 446
311 of 446
312 of 446
313 of 446
314 of 446
315 of 446
316 of 446
317 of 446
318 of 446
319 of 446
320 of 446
321 of 446
322 of 446
323 of 446
324 of 446
325 of 446
326 of 446
327 of 446
328 of 446
329 of 446
330 of 446
331 of 446
332 of 446
333 of 446
334 of 446
335 of 446
336 of 446
337 of 446
338 of 446
339 of 446
340 of 446
341 of 446
342 of 446
343 of 446
344 of 446
345 of 446
346 of 446
347 of 446
348 of 446
349 of 446
350 of 446
351 of 446
352 of 446
353 of 446
354 of 446
355 of 446
356 of 446
357 of 446
358 of 446
359 of 446
360 of 446
361 of 446
362 of 446
363 of 446
364 of 446
365 of 446
366 of 446
367 of 446
368 of 446
369 of 446
370 of 446
371 of 446
372 of 446
373 of 446
374 of 446
375 of 446
376 of 446
377 of 446
378 of 446
379 of 446
380 of 446
381 of 446
382 of 446
383 of 446
384 of 446
385 of 446
386 of 446
387 of 446
388 of 446
389 of 446
390 of 446
391 of 446
392 of 446
393 of 446
394 of 446
395 of 446
396 of 446
397 of 446
398 of 446
399 of 446
400 of 446
401 of 446
402 of 446
403 of 446
404 of 446
405 of 446
406 of 446
407 of 446
408 of 446
409 of 446
410 of 446
411 of 446
412 of 446
413 of 446
414 of 446
415 of 446
416 of 446
417 of 446
418 of 446
419 of 446
420 of 446
421 of 446
422 of 446
423 of 446
424 of 446
425 of 446
426 of 446
427 of 446
428 of 446
429 of 446
430 of 446
431 of 446
432 of 446
433 of 446
434 of 446
435 of 446
436 of 446
437 of 446
438 of 446
439 of 446
440 of 446
441 of 446
442 of 446
443 of 446
444 of 446
445 of 446

In [8]:
xx = gpd.GeoDataFrame(res, columns=['FROM', 'TO', 'VAL', 'geometry'], crs=inB.crs)
xx.shape

(418, 4)

In [9]:
xx.to_file("/home/wb411133/temp/tradecostsforactualborders.shp")

In [ ]:
xx

In [ ]:
xx.unary_union